# Java class files
*.class
.gradle

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

.DS_Store/
/target

/target
/target/
**/target/
**/build/
/build/

.DS_Store
